.destination {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.bgImage {
  background-size: cover;
  background-position: bottom center;
  background-image: url('/assets/destination/background-destination-mobile.jpg');
}

.gridContainer {
  --flow-space: 2rem;
  grid-template-areas:
    'title'
    'image'
    'tabs'
    'content';
}

.numberedTitle {
  grid-area: title;
}

.image {
  grid-area: image;
  max-width: 60%;
  width: 100%;
}

.tabList {
  grid-area: tabs;
}

.destinationInfo {
  grid-area: content;
}

.destinationMeta {
  flex-direction: column;
  border-top: 1px solid hsl( var(--clr-white) / .1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

.destinationMeta p {
  font-size: 1.75rem;
}

@media (min-width: 35em) {
  .bgImage {
    background-position: center center;
    background-image: url('/assets/destination/background-destination-tablet.jpg');
  }

  .numberedTitle {
    justify-self: start;
    margin-top: 2rem;
  }

  .destinationMeta {
    flex-direction: row;
    justify-content: space-evenly
  }
}

@media (min-width: 45em) {
  .bgImage {
    background-image: url('/assets/destination/background-destination-desktop.jpg');
  }

  .gridContainer {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      '. title title .'
      '. image tabs .'
      '. image content .';
  }

  .image {
    max-width: 90%;
  }

  .destinationMeta {
    --gap: min(6vw, 6rem);
    justify-content: start;
  }
}