.primaryNavigation {
  --gap: clamp(1.5rem, 5vw, 3rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl( var(--clr-dark) / .95);
}

.primaryNavigation a {
  text-decoration: none;
}

.primaryNavigation a > span {
  font-weight: 700;
  margin-right: .5rem;
}

@supports (backdrop-filter: blur(1.5rem)) {
  .primaryNavigation {
    background: hsl( var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
  }
}

@media (max-width: 35em) {
  .primaryNavigation {
    --underline-gap: .5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
  }

  @media (prefers-reduced-motion: no-preference) {
    .primaryNavigation {
      transition: transform 500ms ease-in-out;
    }
  }

  .primaryNavigation[data-visible="true"] {
    transform: translateX(0);
  }
}

@media (min-width: 35em) {
  .primaryNavigation {
    padding-inline: clamp(3rem, 7vw, 7rem);
  }
}

@media (min-width: 35em) and (max-width: 44.999em) {
  .primaryNavigation a > span {
    display: none;
  }
}

@media (min-width: 45em) {
  .primaryNavigation {
    margin-block: 2rem;
  }
}
